@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200&family=Lato:wght@300&family=Manrope:wght@200;400;500;700;800&display=swap');


.link_effect{
    @apply hover:text-orange-500 duration-200;
}


html{
    overflow-y:scroll ;
    scroll-snap-type: y mandatory;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Manrope', sans-serif;

}


.section-container{
    @apply w-full px-2 py-0 md:px-7 md:py-5 mb-14 snap-y snap-start h-full;
}




